@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --error-color: rgb(182, 27, 27);
  --no-error-color: rgb(102, 224, 78);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

#tabela-imc {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.coluna {
  display: flex;
  flex-direction: column;
  justify-items: left;
  width: 50%;
}

p {
  margin-top: 8px;
  margin-bottom: 0px;
}

#resultado {
  width: full;
  display: flex;
  justify-content: center;
}

.erro {
  background-color: var(--error-color);
  width: fit-content;
  padding: 8px 12px;
  border-radius: 16px;
}

.certo {
  background-color: var(--no-error-color);
  width: fit-content;
  padding: 8px 12px;
  border-radius: 16px;
}
